* {
    -webkit-tap-highlight-color: transparent;
  }
  /*稱為「前綴(Prefix)」，是瀏覽器供應商為了實驗性質而制定的，在新屬性出現時，作為實驗性開發而使用的前綴字，
  這樣可以防止在實驗過程中破壞標準語法，待實驗沒問題後，通常會移除轉而使用標準語法*/
  
  html, body {
    height: 100%;
  }
  span{
    height: 15px;
  }
  table{
    top:1000px;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    background: #B4DEF7;
    margin: 0;
  }
  
  .default {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .map {
    width: 100%;
    max-width: 450px;
  }
  
  /* Fix IE svg issue */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    svg#map {
      width: 750px;
      height: 1124px;
      max-width: 450px;
      max-height: 674px;
      color: #eee;
    }
  }
  
  @media (min-width:320px)  {
    .lockedMenu {
      right: 5px;
      top: 5px;
    }
  }

  