{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">會員資料</h1>
      <p class="center">您已登入</p>
      <p class="center">You are currently logged in.</p>

      <div class="center">
        <a href="/get_todos" class="btn btn--secondary">進入平台</a>
      </div>
      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">登出</a>
      </div>
      <div class="center">
        在<a id="timeBox"></a>秒後自動進入平臺
      </div>


    </div>

    <div class="card">

      <h2 class="center">個人資訊</h2>
      <h2 class="center">Your Info</h2>

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}
      </p>
    
    </div>
  
  </div>
{% endblock %}