* {
  /* -webkit-tap-highlight-color: transparent; */
  user-select: none; /* 禁止反白 */
}

  body{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Microsoft JhengHei;
}

  /* 畫面最上面 */
  .main{
    display: flex;
    position: relative;
    top: -25px;
    align-items: center;
    justify-content: space-between;

    z-index: 2;
}

  /* 顯示選擇欄位區塊的按鈕 */
  #selectColumnBtn{
    background-image: url("../image/arrow.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;

    width: 35px;
    height: 35px;
    
    position: relative;
    left: 0.5%;
    z-index: 2;
    

}
  #selectColumnBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

  /* 鄉鎮名稱區塊 */
  #townNameDiv{
    border-radius: 20px;

    width: 350px;
    height: 45px;

    background : radial-gradient(circle farthest-side at center,#F5FFE8,	#D1E9E9);
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;

    left: 40px;
    
    transition: .3s linear ;
}
  #townNameDiv:hover{
    cursor: pointer;
    transform: scale(1.1);
}
  /* 鄉鎮名稱 */
  #townNameDiv span{
    position: absolute;
    width: 100%;
    height: 100%;
    
    
    background:radial-gradient(circle farthest-side at center,#FFFCEC,	#F5FFE8);
    color: #1b1111;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    line-height: 37px;
    transition: .6s linear;

    font-size: 24px;
    font-weight: bold;

    z-index: 1;
}
  #townNameDiv:hover span{
    transform:translateX(-100%);
} 
  /* 區塊裡所有按鈕 */
  #townNameDiv button{
    flex: 0.5; /* 按鈕間距 */
    text-align: center;

    transform:translateX(-100%);
    transition: 0.3s linear;

}
  #townNameDiv:hover button{
    transform: translateX(0);
  
}

  #townNameDiv button:nth-of-type(1){ /* 下載按鈕出現時間 */
    transition-delay: 1.0s;
}
  #townNameDiv button:nth-of-type(2){ /* 存檔按鈕出現時間 */
    transition-delay: 0.8s;
}
  #townNameDiv button:nth-of-type(3){ /* 步驟按鈕出現時間 */
    transition-delay: 0.6s;
}
  #townNameDiv button:nth-of-type(4){ /* 敘述按鈕出現時間 */
    transition-delay: 0.4s;
}

  /* 下載按鈕 */
  .download{
    background-image: url("../image/downloadAll.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: 45px;
    
    width: 45px;
    height: 45px;

    position: relative;
    
    margin-left: 20px;
}
  .download:hover{
    transform: scale(1.2);
    cursor: pointer;
}

  /* 匯出按鈕 */
  #remitBtn{
    background-image: url("../image/remit.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: 35px;
    width: 35px;
    height: 35px;

    position: relative;
}
  #remitBtn:hover{
    transform: scale(1.2);
    cursor: pointer;

}

  /* 步驟框按鈕 */
  #step{
    background-image: url("../image/step.png");
    background-repeat: no-repeat;
    background-size: 45px;
    background-color: transparent;
    border: none;

    width: 43px;
    height: 43px;

    position: relative;
}
  #step:hover{
    cursor: pointer;
    transform: scale(1.2);
}

  /* 敘述按鈕 */
  #description{
    background-image: url("../image/description.png");
    background-repeat: no-repeat;
    background-size: 45px;
    background-color: transparent;
    border: none;

    width: 43px;
    height: 43px;

    position: relative;
}
  #description:hover{
    cursor: pointer;
    transform: scale(1.2);
}

  /* 返回按鈕 */
  #returnBtn{
    background-image: url("../image/returnBtn.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;

    width: 43px;
    height: 43px;

    position: relative;
    top: 635px;
    left: 94.5%;
    z-index: 2;

    visibility: hidden;
  
}

  /* 說明框 */
  #showDescriptDiv{
    width: 450px;
    height: 300px;

    border-radius: 20px;

    background-color: #F1E1FF;

    font-size: 22px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: relative;
    left: 3%;
    top: -7100px;

    z-index: 1;

    visibility: hidden;
}
  .forShowDES{
    display: flex;
    justify-content: center;
}
  #showDES{
    width: 300px;
    height: 170px;
    border-radius: 20px;

    position: relative;
    left: 22px;

    background-color: #FCFCFC;

    word-wrap: break-word;
    overflow-y: scroll;
}
  #showRES{
    width: 300px;
    height: 40px;
    border-radius: 20px;

    background-color: #FCFCFC;

    position: relative;
    top: -2px;

    display: flex;
    align-items: center;

    overflow-y: scroll;
}
  .showDESpan{
    margin: 10px;
}
  

  /* 步驟框 */
  #stepBox{
    border: none; /* 外框 */
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px; /* 4角落 */

    /* background-image: url("../image/stepBox.png");
    background-position: -120px -110px;
    background-size: 910px 550px;
    background-repeat: no-repeat; */
    
    width: 650px;
    height: 550px;
    background-color: azure;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    line-height: 70px;

    font-size: 18px;
}
  /* 項目區塊 */
  #itemsDiv{
    width: 650px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}
  /* 項目名稱區塊 */
  .itemsNameDiv{
    width: 200px;
    height: 60px;

    font-weight: bold;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    background-color: #FFECEC;

    position: relative;
    left: 20px;
}
 
  .itemsNameDiv:hover,
  .methodNameDiv:hover,
  .detailDivBtnClass:hover,
  .chartsStepDiv:hover{
    background-color: #ccc;
    cursor: pointer;
}
  /* 內容區塊 */
  #contentForStep{
    height: 400px;
    width: 650px;

    display: flex;
    justify-content: space-around;
}
  /* 上傳方式區塊(整塊) */
  #allMethodDiv{
    width: 650px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  /* 上傳方式名稱區塊 */
  #methodDiv{
    width: 650px;
    height: 50px;

    display: flex;
    justify-content: center;

}
  /* 上傳方式名稱區塊 */
  .methodNameDiv{
    width: 100px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    font-size: 18px;

    background-color: #FFECEC;

    position: relative;
    top: -10px;
}
  /* 上傳方式內容區塊 */
  #methodContent{
    width: 650px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  /* 上傳檔案說明區塊、選擇檔案說明區塊、確認上傳說明區塊 
     上傳API說明區塊、輸入API說明區塊 */
  #fileDiv,#localDiv,#submitDivForFile,
  #earthDiv,#apiInputDiv{
    width: 650px;
    height: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
  /* 上傳檔案圖片區塊 */
  #fileImg{
    width: 70px;
    height: 70px;

    background-image: url("../image/sentFile.png");
    background-color: transparent;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 70px;
    border: none;   
   
}
  /* 上傳檔案文字區塊、選擇檔案文字區塊 */
  #fileSpan,#localSpan,#submitDivForFileSpan,
  #earthDivSpan,#apiInputDivSpan,#submitDivForFileSpan{
    width: 300px;
    height: 70px;

    font-size: 20px;
}
  /* 選擇檔案圖片區塊 */
  #localImg{
    width: 70px;
    height: 70px;

    background-image: url("../image/uploadFile.png");
    background-color: transparent;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 70px;
    border: none;   
   
}
  /* 確認圖片區塊 */
  #submitDivForFileImg{
    width: 70px;
    height: 70px;

    background-image: url("../image/submitButton.png");
    background-color: transparent;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
   
}
  /* 上傳API圖片區塊 */
  #earthDivImg{
    background-image: url("../image/sentAPI.png");
    background-color: transparent;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 70px;
    border: none;

    width: 70px;
    height: 70px;
}
  /* 輸入API圖片區塊 */
  #apiInputDivImg{
    background-image: url("../image/apiInputDivImg.png");
    background-color: transparent;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 250px;
    border: solid;
    border-width: 1px;

    width: 100px;
    height: 40px;
}
  /* 輸入API文字說明區塊 */
  #apiInputDivSpan{
    position: relative;
    left: -8px;
}
  /* 自製表單說明區塊、增加說明區塊、刪除說明區塊
     返回說明區塊、清除說明區塊、傳送說明區塊 */
  #formDiv,#addDiv,#minusDiv,
  #returnDiv,#clearDiv,#submitSelfFlieDiv{
    width: 650px;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
  #formDiv{
    position: relative;
    top: 10px;
}
  #formDivImg{
    background-image: url("../image/sentSelfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    width: 60px;
    height: 50px;

    position: relative;
    top: -10px;
}
  #selfFileImgDiv{
    background-image: url("../image/selfFileImg.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    width: 430px;
    height: 250px;
}
  #addDivImg{
    background-image: url("../image/addButton.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -1px;
    border: none;

    width: 60px;
    height: 50px;
}

  #minusDivImg{
    background-image: url("../image/minus.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 46px;
    background-position: 6px 2px;
    border: none;

    width: 60px;
    height: 50px;
}
  #returnDivImg{
    background-image: url("../image/returnForSelfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -1px;
    border: none;

    width: 60px;
    height: 50px;
}
  #clearDivImg{
    background-image: url("../image/clearForsentSelfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -1px;
    border: none;

    width: 60px;
    height: 50px;
}
  #submitSelfFlieDivImg{
    background-image: url("../image/submitForsentSelfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -1px;
    border: none;

    width: 60px;
    height: 50px;
}
  /* 自製表單文字區塊、增加文字區塊、刪除文字區塊、
     返回文字區塊、清除文字區塊、傳送文字區塊 */
  #formDivSpan,#addDivSpan,#minusDivSpan,
  #returnDivSpan,#clearDivSpan,#submitSelfFlieDivSpan{
    width: 300px;
    height: 50px;

    font-size: 18px;

    position: relative;
    top: -3px;
}

  #formDivSpan{
    display: flex;
    align-items: center;

    line-height: 40px;
}

  /* 上傳方式名稱區塊 */
  .chartsStepDiv{
    width: 170px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    font-size: 18px;

    background-color: #FFECEC;

    position: relative;
    top: -10px;
}
  #chooseColumnStep{
    width: 325px;
    height: 350px;

    background-image: url("../image/chooseColumnStep.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: 30px;
    border: none;
}
  #chooseColumnStepSpan{
    width: 300px;
    height: 350px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}
  .outDiv{
    width: 650px;
    height: 350px;
    display: inline-flex;
}
  #chooseTownStep{
    width: 325px;
    height: 350px;

    background-image: url("../image/chooseTownStep.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: 30px;
    border: none;
}
  #chooseChartsStep{
    width: 325px;
    height: 350px;

    background-image: url("../image/chooseChartsStep.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: 30px;
    border: none;
}
  .individualBtn{
    width: 70px;
    height: 70px;
    
    position: relative;
    left: 10px;
}

  #individualBtn00{
    background-image: url("../image/arrow.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
}
  #individualBtn01{
    background-image: url("../image/introduce.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
}
  #individualBtn02{
    background-image: url("../image/art_palette.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
}
  #individualBtn10{
    background-image: url("../image/number.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
}
  #individualBtn11{
    background-image: url("../image/statBtn.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
}
  #individualBtn12{
    background-image: url("../image/dir.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: -5px;
}
  #individualBtn20{
    background-image: url("../image/eye.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
}
  #individualBtn21{
    background-image: url("../image/returnBtn.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
}
  #individualBtn22{
    background-image: url("../image/sum_avg.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
}

  #individualBtn00:hover,#individualBtn01:hover,#individualBtn02:hover,
  #individualBtn10:hover,#individualBtn11:hover,#individualBtn12:hover,
  #individualBtn20:hover,#individualBtn21:hover,#individualBtn22:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

  /* 關閉按鈕 */
  #closeStep{
    background-image: url("../image/closeButtonForselfFile.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: -4px;

    width: 43px;
    height: 43px;


    position: relative;
    top: -40px;
    left: 10px;
    
}
  #closeStep:hover{
    cursor: pointer;
    transform: scale(1.2);
}

  /* 呈現地圖、圖表、摘要統計 */
  .default{ 
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
    bottom: 85px;
}

  /* 地圖區塊 */
  .chooseMap{
    font-size: 20px;
    position: relative;
    left: 100px;
}

  /* 檔案名稱區塊 */
  #fileNameDiv{
    border-radius: 30px;
    font-weight: bold;
    
    width: 200px;
    height: 50px;

    position: relative;
    left: 2%;
    top: -380px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    visibility: hidden;
  }

  /* 欄位名稱區塊 */
  #columnNameDiv{
    border-radius: 30px;
    font-weight: bold;
    
    width: 150px;
    height: 50px;

    position: relative;
    top: -340px;
    left: 4%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    visibility: hidden;
}
  #changeBtnForRight{
    background-image: url("../image/change_right.png");
    background-color: transparent;
    background-position: -7px;
    background-repeat: no-repeat;
    background-size: 30px;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    z-index: 1;

}
  #changeBtnForRight:hover,#changeBtnForLeft:hover{
    cursor: pointer;
    transform: scale(1.2);
}
  #changeBtnForLeft{
    background-image: url("../image/change_left.png");
    background-color: transparent;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 30px;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    
    z-index: 1;
}
  #introBtn{
    background-image: url("../image/introduce.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    width: 40px;
    height: 40px;

    position: relative;
    left: -4.8%;
    top: -28px;
    
    z-index: 1;
  }
  /* 加總按鈕、平均按鈕 */
  #sumFileBtn,#avgFileBtn{
    /*  */
    z-index: 1;

    position: relative;
    left: 5px;

    width: 80px;
    height: 35px;

    font-size: 18px;

    border-radius: 15px;
    border: none;
    /* font-weight: bold; */
    visibility: hidden;
    box-shadow: 0 6px 6px gray;
    
}
  #introBtn:hover,
  #sumFileBtn:hover,
  #avgFileBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

  /* 整個svg區塊*/
  #showSvg{
    position: relative;
    top: -460px;
    left: 200px;

    display: flex;
    justify-content: space-around;
}

  /* 懸浮框 */
  #suBox{
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px; /* 4角落 */

    visibility: hidden;
    width: 120px;
    height: 90px;
    position: absolute;
    color: red;
    background-image: linear-gradient(-20deg, #15dcff 10%, rgb(251, 252, 219) 110%);
    
}

  /* 選擇顏色按鈕 */
  #colorBtn{
    background-image: url("../image/art_palette.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    width: 50px;
    height: 50px;

    position: relative;
    left: -17.5%;
    top: 80px;
    visibility: hidden;

    z-index: 1;
}
  #colorBtn:hover,#forGroupBtn:hover{
    transform: scale(1.2); /* 放大 */
    cursor: pointer;
}

  /* 顏色選擇框 */
  #colorDiv{
    position: relative;
    top: 134px;
    left: -17.5%;

    width: 70px;
    height: 50px;
    background-color: transparent;
    line-height: 20px;

    z-index: 2;
}

  /* svg區塊 */
  #svgDiv{
    width: 700px;
    height: 750px;
    position: relative;
    left: -5%;
    top: -50px;

}

  /* 分組單位按鈕 */
  #forGroupBtn{
    background-image: url("../image/number.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 3px;
    border: none;

    width: 50px;
    height: 40px;

    position: absolute;
    left: -17.5%;
    top: 22%;

    visibility: hidden;
    z-index: 2;

}
  /* 分組單位區塊 */
  #groupInputDiv{
    position: relative;
    border-radius: 20px;
    border: solid;

    width: 230px;
    height: 100px;

    position: relative;
    left: -73%;
    top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    visibility: hidden;
    z-index: 2;
}
  #groupInputDiv div{
    position: relative;
    left: 15px;
}
  /* 顏色分組下拉式清單 */
  #selectForGroup{
    position: relative;

    width: 90px;
    font-size: 20px;
    
}
  /* 單位輸入盒 */
  #unit{
    width: 85px;
    height: 20px;

    position: relative;

    font-size: 19px;
    text-align: center;
  }

  /* 顏色範圍框 */
  #rangeDiv{
    width: 200px;
    height: 178px;

    position: relative;

    left: -1220px;
    top: 400px;
    
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: center;
}

  /* 離島區塊框 */
  #Outlying_islands{
    border-radius: 30px;

    width: 130px;
    height: 330px;
    border-style: solid;

    position: relative;
    left: -1210px;
    top: -55px;

    z-index: -1;
}

  /* 整個圖表區塊 */
  .container__up {
    text-align: center;

    position: relative;
    bottom: 70px;
    left: -150px;
    
}
  /* 三按鈕區塊 */
  #chooseMethod{
    background-image: url("../image/chooseMethod.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 600px 350px;
    background-position: -35px -20px;
    /* border-style: solid; */

    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 300px;

    position: relative;
    top: 140px;
    left: -80px;
}
  /* 檔案上傳、API上傳、自製表格按鈕 */
  .method{
    margin: 30px;
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    left: 1%;
    z-index: 2;


}.method:hover{
    cursor: pointer;
    transform: scale(1.2);
}

  /* 檔案上傳 */
  #sentFile{
    background-image: url("../image/sentFile.png");
    background-color: transparent;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;   
}

  /* API上傳 */
  #sentAPI{
    background-image: url("../image/sentAPI.png");
    background-color: transparent;
    background-position: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

  /* 自製表格上傳 */
  #sentSelfFile{
    background-image: url("../image/sentSelfFile.png");
    background-color: transparent;
    background-position: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

  /* 兩種模式上傳區 */
  #appearDiv{
    position: relative;
    height: 50px;
    left: -70px;

    z-index: 1;
}
  /* 選擇檔案按鈕 */
  #divForCsvFile{
    background-image: url("../image/uploadFile.png");
    /* background-color: transparent; */
    /* background-position: -5px; */
    background-repeat: no-repeat;
    background-size: cover;

    width: 70px;
    height: 70px;

    position: relative;
    top: -30px;
    left: 15%;
}
  /* 上傳按鈕 */
  #submit{
    background-image: url("../image/submitButton.png");
    background-color: transparent;
    background-position: -5px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    width: 70px;
    height: 70px;

    position: relative;
    top: -95px;
    left: 1%;
}
  #divForCsvFile:hover,#submit:hover{
    transform: scale(1.2); /* 放大 */
    cursor: pointer;
}

  /* API輸入框 */
  #textAPI{
    height: 50px;
    width: 300px;
    font-size: 22px;

    position: relative;
    top: -50px;
    left: -13%;
}
  /* API上傳鈕 */
  #submitAPI{
    background-image: url("../image/submitButton.png");
    background-color: transparent;
    /* background-position: -5px; */
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    
    position: relative;
    left: -10%;
    top: -21px;

    width: 70px;
    height: 70px;
}
  #submitAPI:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

  /* 按鈕懸浮框 */
  .suBoxForButtons{
    width: 90px;
    height: 40px;
    background-color: rgb(249, 240, 240);

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;

    z-index: 1;
  }

  /* 圖表區塊 */
  #allChartsContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -300px;
    left: -70px;

    height: 650px;
    width: 650px;
  }
  /* 空白區域 */
  #blankDiv{
    width: 550px;
    height: 500px;

    position: relative;
    top: -750px;
    left: -100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-radius: 20px;
    font-size: 20px;

    background-color: #FFFFFF;
    visibility: hidden;
  }


  /* 摘要統計區塊 */
  .statistic{
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px; /* 4角落 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
    left: 3%;
    top: -1350px;

    visibility: hidden;

    width: 300px;
    height: 450px;

    font-size: 22px;
    z-index: 1;
    background-color: rgb(242, 241, 238);
}
  .statistic span{
    position: relative;
    left: 40px;
  }

  /* 敘述框背景 */
  #divForDescripBoxBackDrop{
    width: 100%;
    height: 830px;
    background-color: rgba(21, 18, 18, 0.9);
    
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;

    position: relative;
    top: -2150px;
    z-index: 3;
}

  /* 敘述框 */
  #descripBox{
    border: none; /* 外框 */
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px; /* 4角落 */

    background-color: #FFF0AC;

    width: 400px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;

    z-index: 3;
    
}
  /* 敘述框內字體 */
  .desSpan{
    font-size: 22px;

    font-weight: bold;
    position: relative;
    top: 30px;
}
  /* 敘述框內輸入框 */
  .inputforDescript{
    width: 250px;
    height: 30px;
    font-size: 17px;

    display: block;

    position: relative;
    top: 20px;
}
  /* 文字敘述內容(未完成) */
  #textarea{
    width: 250px;
    height: 170px;

    font-size: 17px;
    display: block;

    position: relative;
    top: 20px;
}
/* 作者、主題、文字敘述內容(完成) */
  #divForFinish{
    width: 200px;
    height: 170px;
    background-color: #FFFCEC;
    
    display: none;

    position: relative;
    top: 30px;
}
/* 資料來源(完成) */
  #divForDesTheme,
  #divForinputResource{
    width: 200px;
    height: 25px;
    background-color: #FFFCEC;

    display: none;

    position: relative;
    top: 30px;
}
  .des_button{
    font-size: 16px;
    margin-left: 10px;

    cursor: pointer;
}
  #descripSpan,#descripSpan1{
    word-wrap: break-word;
}
  .btnDiv{
    display: flex;
    justify-content: space-around;

    position: relative;
    left: -10px;
}
  /* 清除 */
  #clearBtn{
    background-image: url("../image/clearBtnForDesciption.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: -4px -8px;
    border: none;

    width: 50px;
    height: 50px;
}
  #clearBtn:hover,#editBtn:hover,#finishBtn:hover,#closeBTN:hover{
    transform: scale(1.2);
    cursor: pointer;
}
  /* 編輯 */
  #editBtn{
    background-image: url("../image/editBtnForDesciption.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: -4px 8px;
    border: none;

    width: 50px;
    height: 50px;
}
  /* 完成 */
  #finishBtn{
    background-image: url("../image/OkForDescription.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: -4px;
    border: none;

    width: 50px;
    height: 50px;
}
  /* 關閉 */
  #closeBTN{
    background-image: url("../image/closeButtonForselfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 40px;
    border: none;

    width: 40px;
    height: 40px;

    position: relative;
    top: -485px;
    left: 190px;
}

  /* 背景區塊 */
  #BackGround{
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;

    z-index: -2;
    opacity: 0.5;

  }
  /* 背景透視框 */
  #default_BackGround{
    box-shadow: 0 2px 6px;
    border-radius: 10px;

    width: 94.5%;
    height: 87%;

    background-color: rgba(255,255,240, 0.3);

    position: absolute;
    top: 10%;
    left: 3%;

    z-index: -2;
}

  /* 欄位選擇區塊 */
  #selectColumnDiv{
    background-color: rgba(0, 0, 0, 0.8);

    position: relative;
    left: -1%;
    top: -2980px;

    width: 350px;
    height: 850px;

    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    z-index: 3;
}
  /* 選擇行、選擇鄉鎮 */
  .labelForCheckbox{
    color: white;
    font-size: 20px;
}
  /* 兩個複選盒 */
  .data-container{
    width: 250px;
    height: 150px;
    border: 1px solid #ccc;
    overflow: auto;
    
}
  /* 選擇行複選盒 */
  .checkbox-container{
    display: flex;
    flex-direction: column;

    line-height: 50px;
    font-size: 20px;
    color: aqua;
}
  /* 選擇圖表區塊 */
  .chartTypeSelectDiv{
    width: 250px;
    height: 150px;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    color: aqua;
    font-size: 20px;

    overflow-y: scroll;
}

  /* 下載框背景 */
  #downloadDivBackDrop{
    width: 100%;
    height: 850px;
    background-color: rgba(21, 18, 18, 0.9);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -7600px;


    z-index:2;
}

  /* 自製表單背景 */
  #selfFileBackDrop{
    width: 100%;
    height: 850px;
    background-color: rgba(21, 18, 18, 0.9);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -3850px;
    z-index: 2;

    display: none;
    
}
  /* 步驟框背景 */
  #stepBoxBackDropDiv{
    width: 100%;
    height: 850px;
    background-color: rgba(21, 18, 18, 0.9);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -3850px;
    z-index: 2;

    visibility: hidden;
}

  /* 輸入欄位數量的區塊(自製表格) */
  #chooseColNumDiv{
    border-radius: 15px;

    background-color: rgb(234, 244, 218);
    width: 550px;
    height: 70px;

    position: relative;
    top: 50px;
    left: 50%;

    margin-left: -275px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
  /* 輸入欄位數量(自製表格) */
  .inputForchooseColNum{
    width: 130px;
    height: 40px;
    font-size: 20px;

    display: none;

}
  /* 欄位數量區塊(自製表格) */
  .inputDivForchooseColNum{
    width: 130px;
    height: 40px;
    font-size: 24px;

    position: relative;
    left: 50px;

    display: flex;
    align-items: center;
}
  /* 按鈕(自製表格) */
  .buttonForChooseColNum{
    width: 50px;
    height: 50px;

    position: relative;
    left: 45px;

    margin-left: 10px;
}
  .buttonForChooseColNum:hover{
    cursor: pointer;
    transform: scale(1.2);
}
  /* 上傳鈕 */
  #submitButtonForselfFile{
    background-image: url("../image/submitForsentSelfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    border: none;
}
  /* 清除鈕 */
  #clearButtonForselfFile{
    background-image: url("../image/clearForsentSelfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    border: none;
}
  /* 返回鈕 */
  #returnButtonForselfFile{
    background-image: url("../image/returnForSelfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    border: none;
}
  /* 刪除鈕 */
  #minusAllBtn{
    background-image: url("../image/minus.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 43px;
    border: none;

    width: 44px;
    height: 44px;
} #minusAllBtn:hover{
  cursor: pointer;
  transform: scale(1.2);
}

  /* 關閉鈕 */
  #closeButtonForselfFile{
    background-image: url("../image/closeButtonForselfFile.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px;
    border: none;

    width: 30px;
    height: 30px;
    position: relative;
    top: -25px;
    left: 9px;
}
  #closeButtonForselfFile:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  /* 自製表格區塊 */
  #selfFile{
    width: 1000px;
    height: 500px;

    position: absolute;
    margin-left: 430px;
    margin-top: 60px;
    background-color: rgb(234, 244, 218);
    overflow: scroll;



}

  /* 地圖邊界大小 */
  .TaiwanMap{
    fill: #d0d0d0;
    stroke: #333333;
    stroke-width: 6;
  }
  .Keelung_town{
    fill: #ccddff;
    stroke: #333333;
    stroke-width: 5;
  }
  .New_Taipei_town{
    fill: #ccddff;
    stroke: #333333;
    stroke-width: 10;
  }
  .Hsinchu_County{
    fill: #ccddff;
    stroke: #333333;
    stroke-width: 5;
  }
  .Taichung_town{
    fill: #ccddff;
    stroke: #333333;
    stroke-width: 5;
  }
  .Chiayi_City_town{
    fill: #ccddff;
    stroke: #333333;
    stroke-width: 10;
  }
  .Kaohsiung_town{
    fill: #ccddff;
    stroke: #333333;
    stroke-width: 4;
  }
  .Nantou_town{
    fill: #ccddff;
    stroke: #333333;
    stroke-width: 1;
  }
  /* hover */
  .TaiwanMap:hover{
    fill: #4F4FFF;
    /* transform: translate(10px); */
    stroke: #333333;
    stroke-width: 11;
  }
  .Keelung_town:hover{
    fill: #4F4FFF;
    stroke: #333333;
    stroke-width: 8;
  }
  .New_Taipei_town:hover{
    fill: #4F4FFF;
    /* transform: translate(20px); */
    stroke: #333333;
    stroke-width: 17;
  }
  .Hsinchu_County:hover{
    fill: #4F4FFF;
    /* transform: translate(20px); */
    stroke: #333333;
    stroke-width: 8;
  }
  .Taichung_town:hover{
    fill: #4F4FFF;
    transform: translate(5px);
    stroke: #333333;
    stroke-width: 7;
  }
  .Chiayi_City_town:hover{
    fill: #4F4FFF;
    transform: translate(5px);
    stroke: #333333;
    stroke-width: 15;
  }
  .Kaohsiung_town:hover{
    fill: #4F4FFF;
    transform: translate(2px);
    stroke: #333333;
    stroke-width: 6;
  }
  .Nantou_town:hover{
    fill: #4F4FFF;
    /* transform: translate(1px); */
    stroke: #333333;
    stroke-width: 1.5;
    
  }

  /* 下載區塊 */
  #downloadDiv{
    border: none; /* 外框 */
    box-shadow: 0 2px 6px #ccc;
    border-radius: 20px; /* 4角落 */

    /* background-image: url("../image/stepBox.jpg");
    background-position: -100px;
    
    background-size: 130% 130%;
    background-repeat: no-repeat; */
    
    width: 400px;
    height: 200px;
    background-color: #E8FFF5;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}


  /* XLSX按鈕 */
  #downloadXLSX{
    background-image: url('../image/downloadXlsx.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 100px;
    height: 90px;

    margin-left: 30px;
    
}
  #downloadXLSX:hover{
    transform: scale(1.2);
    cursor: pointer;
}

  /* JPG按鈕 */
  #downloadJPG{
    background-image: url('../image/jpg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 100px;
    height: 90px;

    margin-left: 50px;

}
  #downloadJPG:hover,#selfFileDesBtn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

  /* 取消按鈕 */
  #cancelDownload{
    background-image: url('../image/closeButtonForselfFile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 40px;
    height: 40px;

    position: relative;
    top: -90px;
    left: 50px;
}
  #cancelDownload:hover{
    transform: scale(1.2);
    cursor: pointer;
}
  #selfFileDesBtn{
    background-image: url('../image/selfFileStep.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 40px;
    height: 40px;

    position: relative;
    top: 130px;
    left: 620px;

    z-index: 2;
}
  /* 新增列按鈕 */
  #addButton_Row{
    background-image: url('../image/addButton.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 25px;
    height: 25px;

    position: relative;
    top: 90px;
    left: 840px;
    z-index: 2;
}
  #addButton_Row:hover,#addButton_Col:hover,#minusButton_Row:hover,#minusButton_Col:hover{
    cursor: pointer;
    transform: scale(1.2);
}

  /* 新增行按鈕 */
  #addButton_Col{
    background-image: url('../image/addButton.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 25px;
    height: 25px;

    position: relative;
    top: 90px;
    left: 940px;
    z-index: 2;
}
  /* 刪除列按鈕 */
  #minusButton_Row{
    background-image: url('../image/minus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 19px;
    height: 19px;

    position: relative;
    top: 118.5px;
    left: 540px;
    z-index: 2;
}
  /* 刪除欄按鈕 */
  #minusButton_Col{
    background-image: url('../image/minus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 19px;
    height: 19px;

    position: relative;
    top: 118.5px;
    left: 657px;
    z-index: 2;
}
  /* 刪除列按鈕(逐行) */
  .minusBtnForRow{
    background-image: url('../image/minus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 19px;
    height: 19px;

    position: relative;
    top: 25px;
}.minusBtnForRow:hover{
  cursor: pointer;
  transform: scale(1.2);
}
  /* 刪除列按鈕(逐行) */
  .minusBtnForCol{
    background-image: url('../image/minus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 19px;
    height: 19px;

    left: 75px;
    top: 10px;
    position: relative;
    
  }.minusBtnForCol:hover{
  cursor: pointer;
  transform: scale(1.2);
}

  /* 顯示頁數與按鈕區塊 */
  #divForPaging{
    width: 550px;
    height: 30px;

    background-color: #99daf2;

    display: flex;
    justify-content: center;
}
  /* 頁數區塊 */
  #fraction{
    width: 70px;
    height: 30px;

    border-radius: 20px;

    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* 換頁按鈕(下一頁) */
  #rightBtnForFraction{
    background-image: url('../image/change_right.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;
}
  #rightBtnForFraction:hover{
    cursor: pointer;
    transform: scale(1.2);
}
  /* 換頁按鈕(上一頁) */
  #leftBtnForFraction{
    background-image: url('../image/change_left.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;
}
  #leftBtnForFraction:hover{
    cursor: pointer;
    transform: scale(1.2);
}

  /* 存檔背景 */
  #remitBackDropDiv{
    width: 100%;
    height: 850px;
    background-color: rgba(21, 18, 18, 0.9);
    
    display: flex;
    justify-content: center;

    align-items: center;

    position: relative;
    top: -4700px;
    z-index: 2;

    visibility: hidden;
}
  /* 存檔盒 */
  #remitBox{
    width: 350px;
    height: 250px;

    border-radius: 20px;

    background-color: #FFECF5;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  /* 存檔成功按鈕 */
  #successImg{
    background-image: url('../image/submitButton.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    position: relative;
    top: 20px;

    width: 130px;
    height: 130px;
}

  #twoBtnDiv{
    position: relative;
    left: 85px;
    top: 160px;

    height: 35px;
}

  /* 摘要統計按鈕 */
  #statBtn{
    background-image: url("../image/statBtn.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: cover;

    width: 50px;
    height: 45px;

    position: relative;
    left: -2.3%;
    top: 210px;

    z-index: 1;
    
    visibility: hidden;
}
  #statBtn:hover,
  #returnBtn:hover,
  .previewBtn:hover,
  .previewBtn_two:hover,
  .previewBtn_three:hover,
  .three_secBtn:hover,
  .three_thiBtn:hover,
  .four_firBtn:hover,
  .four_thiBtn:hover,
  .four_secBtn:hover,
  .four_fouBtn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

  /* 預覽鈕 */
  .previewBtn{
    background-image: url('../image/eye.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    left: 95%;

    z-index: 1;
}
  .previewBtn_two{
    background-image: url('../image/eye.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    left: 95%;
    
    z-index: 1;
}
  .previewBtn_three{
    background-image: url('../image/eye.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    left: 95%;
    
    z-index: 1;
}
  .three_secBtn{
    background-image: url('../image/eye.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    left: 20px;
    
    z-index: 1;
}
  .three_thiBtn{
    background-image: url('../image/eye.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    left: 285px;
    
    z-index: 1;
}
  .four_firBtn,.four_thiBtn{
    background-image: url('../image/eye.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    left: 0px;
    
    z-index: 1;
}
  .four_secBtn,.four_fouBtn{
    background-image: url('../image/eye.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

    position: relative;
    left: 290px;
    
    z-index: 1;
}

  /* 一張圖 */
  .oneChart{
    position: relative;
    width: 640px;
    height: 600px;
}
  /* 兩張圖 */
  .twoChart{
    position: relative;
    width: 640px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
  /* 第一張、第二張 */
  .two_firstChart,.two_firstChart{
    width: 640px;
    height: 300px;
    z-index: 1;

}
  /* 三張圖 */
  .threeChart{
    position: relative;
    width: 640px;
    height: 600px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

}
  /* 上面區塊 */
  .three_upDiv{
    width: 640px;
    height: 300px;

    display: flex;
    justify-content: center;
  }
  /* 下面區塊 */
  .three_downDiv{
    width: 640px;
    height: 300px;

    display: flex;
    /* justify-content: space-around; */
  }
  /* 第一張 */
  .three_firstChart{
    width: 640px;
    height: 270px;
}
  /* 第二張、第三張 */
  .three_secondChart,
  .three_thirdChart{
    width: 320px;
    height: 270px;
}

/* 四張圖 */
  .fourChart{
    position: relative;
    width: 640px;
    height:600px;

}
  /* 上面區塊 */
  .four_upDiv{
    width: 640px;
    height: 300px;

    display: flex;
    justify-content: space-around;
}
  /* 下面區塊 */
  .four_downDiv{
    width: 640px;
    height: 300px;

    display: flex;
    justify-content: space-around;
}
  /* 第一張、第二張、第三張、第四張 */
  .four_firstChart,
  .four_secondChart,
  .four_thirdChart,
  .four_fourthChart{
    width: 320px;
    height: 300px;
}

  #previewBoxBackDrop{
    width: 100%;
    height: 850px;
    background-color: rgba(21, 18, 18, 0.9);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -5535px;
    z-index: 2;

    visibility: hidden;
}
  #previewBox{
    width: 500px;
    height: 500px;

    background-color: #99daf2;

    position: absolute;
    margin-left: 50px;
}

  #closePreview{
    background-image: url('../image/closeButtonForselfFile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 40px;
    height: 40px;

    position: relative;
    top: -240px;
    left: 14%;
}
  #closePreview:hover,#closeDetailDesBox:hover{
    cursor: pointer;
    transform: scale(1.2);
}

  /* 詳細說明框背景 */
  #detailDesDivBackDrop{
    width: 100%;
    height: 850px;
    background-color: rgba(21, 18, 18, 0.9);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -7250px;

    z-index: 2;
    visibility: hidden;
}
  #detailDesBox{
    border: none; /* 外框 */
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px; /* 4角落 */
    
    width: 650px;
    height: 550px;
    background-color: azure;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  #closeDetailDesBox{
    background-image: url('../image/closeButtonForselfFile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;

    width: 40px;
    height: 40px;

    position: relative;
    top: -270px;
    left: 320px;

    z-index: 2;
}
  #detailDesBox{
    display: flex;
    flex-direction: column;

}
  #detailBtnDiv{
    display: flex;
    justify-content: center;
}
  .detailDivBtnClass{
    width: 200px;
    height: 60px;

    font-weight: bold;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    background-color: #FFECEC;

    position: relative;
}
  #detailContent{
    width: 650px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  #pdiv{
    position: relative;
    top: -20px;
    width: 500px;
    height: 350px;
    font-size: 22px;
    line-height: 60px;
}

  #gobackDiv{
    position: relative;
    top: -6900px;
    left: 34%;

    visibility: hidden;
    z-index: 2;
}
  #gobackBtn{
    background-image: url('../image/goBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;

    width: 30px;
    height: 30px;

}#gobackBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

  #gobackDiv span{
    font-size: 20px;
    position: relative;
    left: 0.5%;
    top: -5px;
}
  #allBtnStepDiv{
    width: 650px;
    height: 300px;

    display: flex;
    justify-content: space-around;

}
  #stepSpan{
    font-size: 20px;
    width: 550px;

    line-height: 50px;
    margin: 10px;
}
  .childDiv{
    height: 200px;
    width: 180px;
}
  #childDiv0{
    background-image: url('../image/chooseColumnStep.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #childDiv1{
    background-image: url('../image/chooseTownStep.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #childDiv2{
    background-image: url('../image/chooseChartsStep.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #introduceStepImg{
    height: 200px;
    width: 300px;

    position: relative;
    top: -20px;

    background-image: url('../image/introStepImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #colorStepImg{
    height: 300px;
    width: 550px;

    position: relative;
    top: -20px;

    background-image: url('../image/colorStepImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #groupStepImg{
    height: 300px;
    width: 500px;

    position: relative;
    top: -20px;

    background-image: url('../image/groupStepImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #statStepImg{
    height: 270px;
    width: 200px;

    position: relative;
    top: -20px;
    left: 5%;

    background-image: url('../image/statStepImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #previewStepImg{
    height: 390px;
    width: 300px;

    position: relative;
    left: 5%;

    background-image: url('../image/previewStepImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #dirImg{
    height: 350px;
    width: 400px;

    background-image: url('../image/dirImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}
  #sumavgImg{
    height: 100px;
    width: 300px;

    position: relative;
    top: -50px;
    left: 5%;

    background-image: url('../image/sumavgImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}


